<main>
    <h1> {{book.title}}</h1>
    <h3> {{book.author}}</h3>
    <p> {{book.description}}</p>
    <ul>
        <li><i class="bi bi-tag-fill"></i></li>
        @for(tag of book.tags; track $index) {
            <li><p>{{tag.name}}</p></li>
          }
    </ul>
    <div>
        <button (click)="onVote(book.id)" [disabled]="isVoting"> Votar {{localVotes}}</button>
    </div>
    <div>
        <h3> Comentarios {{book.comments.length}}</h3>
    </div>
    <form [formGroup]="commentForm" >
        <fieldset>
            <input type="text" id="comment-content" formControlName="content" placeholder="Escribe un comentario" required/>
        </fieldset>
        <button (click)="handleComment()"> Comentar </button>
    </form>
    <ul class="comments-list">
        @for (comment of book.comments; track comment.id) {
            <li class="comment-box">
                <h3> {{comment.user.username}}</h3>
                <p> {{comment.content}}</p>
            </li>
        }
    </ul>
</main>