img{
    max-width: 2rem;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #003366;
    padding: 1rem 1.5rem;
}

ul{
    list-style-type: none;
    display: flex;
    gap : 1rem;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.close-menu,
.menu-toggle{
    display: none;
}

@media screen and (max-width: 768px){
    .menu{
        opacity: 0;
        visibility: hidden;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #003366;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0,0, -5);
    }

    .menu-visible{
        opacity: 1;
        visibility: visible;
    }

    .close-menu,
    .menu-toggle{
        display: block;
    }

    ul{
        flex-direction: column;
        align-items: end;
    }
}
