<main>
    <ul class="main-list">
        <button (click)="openModal()"> <i class="bi bi-plus-square-fill"></i> Agregar Recomendación</button>
        <app-modal [isVisible]="isModalVisible" (close)="closeModal()">
            <h2>Recomienda un libro</h2>
            <form [formGroup]="bookForm" >
    
                    <label class="form-label">Título: <input type="text" id="comment-content" formControlName="title" placeholder="Escribe un comentario" required/> </label>
                    <label class="form-label">Autor: <input type="text" id="comment-content" formControlName="author" placeholder="Escribe un comentario" required/> </label>
                    <label class="form-label">Descripción corta: <input type="text" id="comment-content" formControlName="shortDescription" placeholder="Escribe un comentario" required/> </label>
                    <label class="form-label">Sinopsis: <textarea type="text" id="comment-content" formControlName="description" placeholder="Escribe un comentario" required></textarea> </label>
                    <label class="form-label">Etiqueta: 
                        <select formControlName="tags" required> 
                            <option value="" disabled>
                                Selecciona un tag
                            </option>
                            @for(tag of tags; track tag.id) {
                                <option value={{tag.id}}>
                                {{tag.name}}
                                </option>
                            }
                        </select>
                    </label>
                <button (click)="handleBookForm()"> Crear </button>
            </form>
        </app-modal>
        <h1> Recomendacion de nuestros usuarios</h1>
        @if(selectedTags.length > 0) {
            
        }
        @for(book of books; track book.id) {
            @if (selectedTags.length > 0 && !selectedTags.includes(book.tags[0].id)) {

                } @else {
                    <li> 
                        <a href="/book/{{book.id}}">{{book.title}}</a>
                        <p class="short-description">{{book.shortDescription}}</p>
                            <div class="votes">
                                <p>Votos: {{book.votesCount}}</p>
                                <p>Comentarios: {{book.comments.length}}</p>
                            </div>
                            <ul class="tags-list">
                                <li ><i class="bi bi-tag-fill"></i></li>
                                @for(tag of book.tags; track $index) {
                                    <li><p>{{tag.name}}</p></li>
                                }
                            </ul>
                    </li>
                }
        }
    </ul>

    <section class="filter-section">
        <div>
            <h1> Los más populares </h1>
            <ul>
                @for(book of popularBooks; track book.id) {
                    <li> 
                        <a href="/book/{{book.id}}">{{book.title}} </a><span>{{book.votesCount}} votos</span>
                        
                }
            </ul>
        </div>
        <div>
            <h1> Filtrar por Categorias</h1>
            <ul class="tags-filter.list">
                @for(tag of tags; track tag.id) {
                    <li class="tag-item-filter"> 
                        <label class="tag-title-filter">
                            <input class="check-input" type="checkbox" (change)="onCheckboxChange($event, tag.id)">
                            {{tag.name}}
                        </label>
                    </li>
                }
            </ul>
        </div>


    </section>



</main>
