<button (click)="openModal()"> Agregar Recomendación</button>

<app-modal [isVisible]="isModalVisible" (close)="closeModal()">
    <h2>Este es un Modal</h2>
    <p>Contenido del modal aquí.</p>
    <form [formGroup]="bookForm" >

            <label>Título: <input type="text" id="comment-content" formControlName="title" placeholder="Escribe un comentario" required/> </label>
            <label>Autor: <input type="text" id="comment-content" formControlName="author" placeholder="Escribe un comentario" required/> </label>
            <label>Descripción corta: <input type="text" id="comment-content" formControlName="shortDescription" placeholder="Escribe un comentario" required/> </label>
            <label>Sinopsis: <textarea type="text" id="comment-content" formControlName="description" placeholder="Escribe un comentario" required></textarea> </label>
            <label>Etiqueta: 
                <select formControlName="tags" required> 
                    <option value="" disabled>
                        Selecciona un tag
                    </option>
                    @for(tag of tags; track tag.id) {
                        <option value={{tag.id}}>
                        {{tag.name}}
                        </option>
                    }
                </select>
            </label>
        <button (click)="handleBookForm()"> Crear </button>
    </form>
  </app-modal>

  <h1> Recomendacion de nuestros usuarios</h1>
<ul>
    @if(selectedTags.length > 0) {
        
    }
    @for(book of books; track book.id) {
        @if (selectedTags.length > 0 && !selectedTags.includes(book.tags[0].id)) {

            } @else {
                <li> 
                    <a href="/book/{{book.id}}">{{book.title}}</a>
                    <p class="short-description">{{book.shortDescription}}</p>
                          <div class="votes">
                            <p>Votos:</p>
                            <p>{{book.votesCount}}</p>
                            <p>Comentarios:</p>
                            <p>{{book.comments.length}}</p>
                          </div>
                        <ul>
                            <li>🏷️</li>
                            @for(tag of book.tags; track $index) {
                                <li><p>{{tag.name}}</p></li>
                              }
                        </ul>
                </li>
            }
    }
</ul>

<section>
    <h1> Filtrar por Categorias</h1>
    <ul>
        @for(tag of tags; track tag.id) {
            <li> 
                <label>
                    <input type="checkbox" (change)="onCheckboxChange($event, tag.id)">
                    {{tag.name}}
                  </label>
            </li>
        }
    </ul>

</section>
<section>
    <h1> Los más populares </h1>
    <ul>
        @for(book of popularBooks; track book.id) {
            <li> 
                <a href="/book/{{book.id}}">{{book.title}} </a><span>{{book.votesCount}} votos</span>
                
        }
    </ul>
</section>